/* Your app's CSS, go crazy, make it your own */

.bar-assertive {
    background-color: rgb(255, 255, 255) !important;
}

.button-assertive {
    background-color: rgb(255, 102, 0) !important;
}

.title {
    color: rgb(255, 102, 0) !important;
    font-family: Verdana;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 150% !important;
}

.scroll {
  height: 100%;
}