<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Sign in" hide-back-button="true" hide-nav-bar="true">
    <ion-content has-header="true" padding="true">
        <div class="list list-inset">
            <h1 class="text-center">Rehsipi</h1>
            <!--<button class="button button-block button-light" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>-->
            <a class="button button-block button-positive" href="#/app/index">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </a>
        </div>
    </ion-content>
</ion-view>
